# Ignore the dataset
medium.csv

# Ignore the heavy GloVe vectors
glove.6B.*.txt

# Ignore the generated model and tokenizer
*.h5
*.pkl

# Ignore Python cache folders
__pycache__/
.ipynb_checkpoints/
